.benefits
    position: relative
    padding-top: 30px
    &__rectangle
        &--coral
            display: inline-block
            width: 445px
            height: 598px
            background: #F86161
            border-radius: 59px
        &::after
            content: ""   
            position: absolute
            background-repeat: no-repeat
            background-image: url('../img/woman.png')
            height: 120%
            width: 120%
            top: -55px
            left: -69px
            background-size: 100%

            